  .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contato-formulario {
  width: 100%;
}

.form {
  margin: 0 auto;
}
.rating {
  display: inline-flex;
  flex-direction: row-reverse;
}
a {
  text-decoration: none;
  color: inherit;
}
.rating input {
  display: none;
}
ul {
  padding: 0px;
  list-style: none;
}
.rating label {
  cursor: pointer;
  width: 20%;
  font-size: 2em;
  color: #ddd;
  text-align: center;
}

.rating label:before {
  content: "★";
}

.rating input:checked ~ label {
  color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #f70;
}
  label {
                  display: inline-block;
                  width: max-content;
                  text-align: center;
                }
  body {
    background-color: black;
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .input-file {
    margin-bottom: 20px;
  }
  
  .preview {
    padding-top: 50px;
    max-width: 300px;
    max-height: 300px;
  }
  .mb-3{
    grid-column: span 2;
  }
.btn-primary{
    display: inline-block;
    padding: 16px 32px;
     border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--cor-p5);
    font: 600 1.125rem/1.35 "Poppins", sans-serif;
    max-width: max-content;
    border: none;
    cursor: pointer;
}
 .datanasc{
  width: 32%;
 }
 .fdata{
  padding: 12px;
 }
 .rating label {
  cursor: pointer;
  width: 1em;
  font-size: 2em;
  color: #ddd;
  text-align: center;
}
.form input[type="text"], .form input[type="email"],.form input[type="date"], .form textarea,.form select {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: white;
  border: 1px solid var(--cor-2);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.contato-dados, .contato-formulario {
  padding: 10em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


.col-8 {
  grid-column: span 8;
}

.cpf label{
display: block;
font: 400 1rem/1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
   width: max-content;
    align-items: center;
    margin-left: 15px;
    display: inline-flex!;
font: 400 1rem/1.5 "Poppins", sans-serif;
margin-bottom: 20px;}
    label span{
      margin: 10px;
    }


    .form .col-2,
    .form .col-8 {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
      .rating label {
        cursor: pointer;
        width: 20%;
        font-size: 2em;
        color: #ddd;
        text-align: center;
      }
      
      label {
        display: inline-block;
        width: max-content;
        text-align: center;
      }
      .form input[type="text"],
      .form input[type="email"],
      .form input[type="date"],
      .form textarea {
        font: 400 1rem/1.5 "Roboto", sans-serif;
        background: white;
        border: 1px solid var(--cor-2);
        padding: 12px;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
      }
.cpfform{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cpf {
  display: flex;
  flex-direction: column;
  align-items: center;
}